@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0 auto;
    background: #F3F5FC;
}

main{
    /* width: 100%; */
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    /* align-content: flex-start; */
    justify-content: space-between;
    margin: 40px;
}

.vector{
    display: flex;
    height: 48px;
    width: 120px;
    justify-content: center;
}

.caja1{
    position: relative;
    padding-top: 168px;
    width: 680px;
    /* padding-left: 240px; */

}

.caja1 > div:first-child > textarea{
    background: #F3F5FC;
    resize: none;
    width: 577px;
    height: 635px;
    border: none;
    outline: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
}

.caja1 > div:nth-child(2){
    display: flex;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #495057;
}

.caja1 > div:last-child{
    padding-top: 16px;
    display: flex;
    gap: 24px;
}

#encrypt{
    cursor: pointer;
    background: #0A3871;
    border: none;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

#encrypt:hover{
    background: #174072;
}

#decrypt{
    cursor: pointer;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

#decrypt:hover{
    background: #c8d6e8;
}

.caja2{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    padding: 32px;
    width: 400px;
    height: 944px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.caja2 div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.vector3{
    max-width: 336px;
    max-width: 304px;
}

.text1{
    position: relative;
    padding-top: 32px;
    width: 336px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
}

.text2{
    position: relative;
    padding-top: 16px;
    width: 336px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.caja2 div:first-child{
    display: flex;
    align-self: flex-start;
    text-align: start;
}

/* #textencrypt {

    flex-direction: column;
    overflow: auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
  }
   */