@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    margin: 0 auto;
    font-style: normal;
    font-family: 'Inter';
    background: #F3F5FC;
}

.main_container{
    display: flex;
    flex-direction: column;
}

.logo_container{
    padding: 24px 0 0 16px;
}

/* SECTION CONTAINER */
/* SECTION CONTAINER */

.section_container{
    display: flex;
    flex-direction: column;
}

.btn-input_container{
    margin-top: 56px;
    padding: 0 16px;
    height: 591px;
}

.input_container {
    width: 100%;
    height: 65%;
}

.input_container textarea{
    background: #F3F5FC;
    color: #0A3871;
    border: none;
    resize: none;
    outline: none;
    width: 95%;
    height: 95%;
    line-height: 150%;
    font-weight: 400;
    font-size: 32px;
}

.alert_container{
    display: flex;
    margin: 12px;
    font-size: 12px;
}

.alert_container img{
    object-fit: contain;
    margin-right: 8px;
}

.buttons_container{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.buttons_container button, .btn_copy{
    cursor: pointer;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    height: 67px;
    border-radius: 24px;
}

.btn_encrypt{
    background: #0A3871;
    color: #FFFFFF;
    border: none;
}

.btn_decrypt, .btn_copy{
    background: #D8DFE8;
    color: #0A3871;
    border: 1px solid #0A3871;
}

/* END SECTION CONTAINER */
/* END SECTION CONTAINER */

/* ASIDE CONTAINER */
/* ASIDE CONTAINER */

.aside_container{
    margin: 50px 40px 24px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: 500px;
}

.disappear_container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.encrypt_container{
    display: none;
    padding: 20px;
    word-wrap: break-word;
    height: 70%;

}

.worked_text{
    overflow: auto;
    max-height: 100%;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400;
    color: #495057;
    overflow-x: hidden;
}

.img_container img{
    display: none;
}

.text_container{
    padding: 32px;
    text-align: center;
}

.copy_container{
    display: none;
    justify-content: center;
    padding: 30px;

}

.btn_copy{
    width: 100%;
}

/* END ASIDE CONTAINER */
/* END ASIDE CONTAINER */

/* RESPONSIVE */
/* RESPONSIVE */

@media screen and (min-width: 768px){

    .main_container{
        flex-direction: row;
        height: 100vh;
        justify-content: space-between;
    }

    .logo_container{
        display: flex;
        justify-content: center;
        height: 48px;
        width: 120px;
        margin: 40px 0 0 40px;
        padding: 0;
    }

    /* SECTION CONTAINER RESPONSIVE */
    /* SECTION CONTAINER RESPONSIVE */

    .section_container{
        width: 50%;
    }

    .input_container{
        padding-top: 100px;
        height: 100%;
    }

    .input_container, .alert_container{
        padding-left: 3%;
    }

    /* END SECTION CONTAINER RESPONSIVE */
    /* END SECTION CONTAINER RESPONSIVE */

    /* ASIDE CONTAINER */
    /* ASIDE CONTAINER */

    .aside_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30%;
        height: 85%;
    }

    .btn-input_container{
        height: 50%;
    }

    .encrypt_container{
        height: 70%;
    }

    .buttons_container{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .buttons_container button{
        width: 332px;
    }

    .img_container{
        display: flex;
        justify-content: center;
    }

    .img_container img{
        display: block;
        width: 80%;
        height: 90%;
    }

    .text_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 50px 0 50px;
    }

    /* END ASIDE CONTAINER */
    /* END ASIDE CONTAINER */
}

/* END RESPONSIVE */
/* END RESPONSIVE */

/* LOADING */
/* LOADING */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 999;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Hide the loading screen when the page has finished loading */
.loaded .loading {
    display: none;
}

/* END LOADING */
/* END LOADING */

.fade-in {
    animation: fade-in 0.5s linear;
}
@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}